
.flexDisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  @extend .flexDisplay;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 16px;
  border-radius: 8px;
  height: 300px;
}

.title {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 12px;
}

.image {
  max-width: 200px;
  max-height: 200px;
}

.viewMore {
  font-weight: 500;
  color:white;
  background-color: #3f51b5;

}

.content {
  display: flex;
  justify-content: space-between;
}

.image-half {
  @extend .flexDisplay;
  width:40%;
  box-sizing: border-box; 
  padding: 10px; 
  
}

.statline {
  box-sizing: border-box; 
  padding: 10px; 
  width:60%;

}